.bodyContent.l-bodyContent {
	padding: 0px 40px;
}

.l-bodyContent h1 {
	margin-bottom: 20px;
}

@media (min-width: 570px) {
	.l-vertDivider {
		margin-bottom: 50px;
	}

	.l-bodyContent p {
		margin-top: 1em;
	}

	.l-bodyContent h1 {
		margin-bottom: 1.3em;
	}
}

