.l-header {
	padding: 0;
}

.l-logo {
	display: flex;
	justify-content: center;
	margin: 13px 0px 10px;
	padding-right: 30px;
}

.l-headerLinkPadding a {
	padding: 10px 10px;
}

.l-desktopOnly {
	display: none;
}

@media (min-width: 570px) {
	.l-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.l-header {
		padding: 0px 10px;
	}

	.l-mobileOnly {
		display: none;
	}
}