.l-header {
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.l-burger {
	display: flex;
	justify-content: center;
	align-items: center;
}

.l-logo {
	display: flex;
	justify-content: center;
	margin: 13px 0px 10px;
	flex-grow: 4;
}

.l-headerLinkPadding a {
	padding: 10px 10px;
}

.l-desktopOnly {
	display: none;
}

@media (min-width: 570px) {

	.l-header {
		padding: 0px 10px;
	}

	.l-mobileOnly {
		display: none;
	}
}