.l-mobileShop {
	display: none;
}

.l-burger.l-mobileOnly {
	display: none;
}

.l-burger.l-tinyOnly {
	padding: 0px 15px;
}

.l-header {
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.l-burger {
	display: flex;
	justify-content: center;
	align-items: center;
}

.l-logo {
	display: flex;
	align-items: center;
	margin: 13px 0px 10px;
	flex-grow: 1;
	padding-left: 10px;
}

.l-headerLinkPadding a {
	padding: 10px 10px;
}

.l-desktopOnly {
	display: none;
}

@media (min-width: 450px) {
	.l-mobileShop {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.l-logo {
		display: flex;
		justify-content: center;
		flex-grow: 4;
	}

	.l-tinyOnly {
		display: none;
	}

	.l-burger.l-mobileOnly {
		display: flex;
		padding-left: 10px;
	}
}

@media (min-width: 570px) {

	.l-header {
		padding: 0px 10px;
	}

	.l-mobileOnly {
		display: none;
	}
}