.l-heroImg {
	margin-bottom: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 570px) {
	.l-heroText {
		position: absolute;
		bottom: 50px;
		right: 50px;
		max-width: 500px;
	}
}