.l-mobileNav {
	position: relative;
	overflow: hidden;
}

.l-mobileNav ul {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	max-height: 0;
}

.l-mobileNav ul li {
	display: flex;
	flex-direction: column;
}

@media (min-width: 450px) {
	.l-mobileNav ul li.l-tinyOnly {
		display: none;
	}
}