.heroImg {
	position: relative;
	background-image: url("../assets/images/ceriousHeroImg.png");
	background-repeat: no-repeat;
	background-size: auto 300px;
	height: 300px;
	width: 100%;
}

.heroImg span {
	color: white;
	font-family: $julius;
	-webkit-font-smoothing: antialiased;
	font-size: 3em;
	font-weight: bold;
	max-width: 400px;
	text-align: center;
	text-shadow: 0 0 2px $secondary;
}

@media (min-width: 570px) {

	.heroImg img {
		width: 100%;
	}

	.heroImg span {
		color: white;
		text-align: right;
		font-family: $julius;
		font-size: 4em;
		-webkit-font-smoothing: antialiased;
	}
}