.mobileNav ul {
	background-color: $tertiary;
	border-top: 1px solid $white;

	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mobileNav ul li {
	color: $white;
	font-family: $source;
	font-size: 1.5em;
	text-transform: uppercase;
	border-bottom: 1px solid $white;
}

.mobileNav ul li a {
	padding: 20px 10px;
	flex-grow: 1;
}