html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

@media (min-width: 570px) {
  .l-vertDivider {
    margin-bottom: 50px; }

  .l-bodyContent p {
    margin-top: 1em; }

  .l-bodyContent h1 {
    margin-bottom: 1.3em; } }
.l-header {
  padding: 0;
  display: flex;
  justify-content: space-between; }

.l-burger {
  display: flex;
  justify-content: center;
  align-items: center; }

.l-logo {
  display: flex;
  justify-content: center;
  margin: 13px 0px 10px;
  flex-grow: 4; }

.l-headerLinkPadding a {
  padding: 10px 10px; }

.l-desktopOnly {
  display: none; }

@media (min-width: 570px) {
  .l-header {
    padding: 0px 10px; }

  .l-mobileOnly {
    display: none; } }
.l-heroImg {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center; }

@media (min-width: 570px) {
  .l-heroText {
    position: absolute;
    bottom: 50px;
    right: 50px;
    max-width: 500px; } }
.l-rightAlign {
  text-align: right; }

.l-widgetText {
  padding: 30px 20px; }

.l-widgetText p {
  margin: 30px 5px 80px; }

.l-widgetContent {
  padding: 5px; }

.l-widgetContainers {
  display: flex;
  margin-bottom: 80px; }

.l-widget {
  position: relative; }

.l-readMoreButton {
  position: absolute;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.l-mobileNav {
  position: relative;
  overflow: hidden; }

.l-mobileNav ul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%; }

.l-mobileNav ul li {
  display: flex;
  flex-direction: column; }

body {
  background-color: #424242; }

.bodyContent {
  padding: 0px 100px; }

.bodyContent h1 {
  color: #cacaca;
  font-family: "Julius Sans One", sans-serif;
  font-size: 3em;
  text-align: center; }

.bodyContent p {
  color: #cacaca;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  line-height: 1.1em;
  -webkit-font-smoothing: antialiased; }

.vertDivider {
  height: 100px; }

.outer {
  width: 3px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden; }

.inner {
  position: absolute;
  width: 100%;
  height: 40%;
  background: #cacaca;
  top: 30%;
  box-shadow: 0px 0px 30px 35px #cacaca; }

.header {
  background-color: #cacaca;
  display: flex; }

.burger {
  cursor: pointer; }

.burger img {
  width: 50px;
  padding-left: 10px; }

.logo img {
  width: 170px; }

.mobileShop {
  background-color: #e55e04;
  color: #f7f7f7;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 2.5em;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.otherLinks {
  display: none; }

@media (min-width: 570px) {
  .headerGradient {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.6));
    /*Safari 5.1-6*/
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.6));
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.6));
    /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.6));
    /*Standard*/ }

  .header {
    background-image: url(../assets/images/headerBGOpacity.png);
    background-repeat: repeat-x; }

  .burger {
    display: none; }

  .logo img {
    width: 180px;
    padding: 15px; }

  .headerLinks {
    font-family: "Pragati Narrow", sans-serif;
    color: #cacaca;
    font-size: 1.5em;
    text-transform: uppercase; }

  .otherLinks {
    -webkit-font-smoothing: antialiased;
    margin: 0px 20px; }

  .otherLinks a {
    transition: color 0.3s linear; }

  .otherLinks a:hover {
    color: #e55e04; }

  .shopButton {
    -webkit-font-smoothing: antialiased; }

  .shopButton a {
    border: 2px solid #cacaca;
    border-radius: 5px;
    padding: 0px 25px;
    line-height: 0.5em;
    -webkit-transition: color 0.3s ease, background-color 0.5s linear; }

  .shopButton a:hover {
    background-color: #cacaca;
    color: #e55e04; } }
.heroImg {
  position: relative;
  background-image: url("../assets/images/ceriousHeroImg.png");
  background-repeat: no-repeat;
  background-size: auto 300px;
  height: 300px;
  width: 100%; }

.heroImg span {
  color: white;
  font-family: "Julius Sans One", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 3em;
  font-weight: bold;
  max-width: 400px;
  text-align: center;
  text-shadow: 0 0 2px #424242; }

@media (min-width: 570px) {
  .heroImg img {
    width: 100%; }

  .heroImg span {
    color: white;
    text-align: right;
    font-family: "Julius Sans One", sans-serif;
    font-size: 4em;
    -webkit-font-smoothing: antialiased; } }
.widgetContainers::after {
  clear: both;
  content: "";
  display: block; }

.widget {
  background-color: #cacaca;
  width: calc(33.33333% - 6.66667px);
  float: left;
  margin-left: 5px; }

.widgetImage img {
  width: 100%;
  border: 1px solid #bababa;
  transition: opacity 0.5s ease; }

.widgetImage img:hover {
  opacity: 0.5; }

.widgetText h2 {
  font-family: "Pragati Narrow", sans-serif;
  color: #424242;
  font-size: 2em;
  border-bottom: 3px solid #e55e04;
  line-height: 1em;
  padding-bottom: 10px; }

.widgetText p {
  font-family: "Source Sans Pro", sans-serif;
  color: #424242;
  font-size: 1.3em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased; }

.readMoreButton {
  font-family: "Pragati Narrow", sans-serif;
  color: #424242;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; }

.readMoreButton a {
  display: inline-block;
  border: 2px solid #e55e04;
  border-radius: 5px;
  padding: 10px 30px;
  -webkit-transition: color 0.3s ease, background-color 0.5s linear;
  -webkit-transform: scale(0.9, 1);
  -moz-transform: scale(0.9, 1);
  -ms-transform: scale(0.9, 1);
  -o-transform: scale(0.9, 1);
  transform: scale(0.9, 1); }

.readMoreButton a:hover {
  background-color: #e55e04;
  color: #cacaca; }

hr {
  border: 0;
  height: 1px;
  margin: 30px auto;
  width: 60%;
  background: linear-gradient(to right, #cacaca, #e55e04, #cacaca);
  background: -webkit-linear-gradient(left, #cacaca, #e55e04, #cacaca);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left #cacaca, #e55e04, #cacaca);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left #cacaca, #e55e04, #cacaca);
  /* For Firefox 3.6 to 15 */ }

.mobileNav ul {
  background-color: #e55e04;
  border-top: 1px solid #f7f7f7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.mobileNav ul li {
  color: #f7f7f7;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid #f7f7f7; }

.mobileNav ul li a {
  padding: 20px 10px;
  flex-grow: 1; }

/*# sourceMappingURL=styles.css.map */
